# Assignment

In [1]:
#Ques. 1

x=3
y=5
x,y=y,x
print(x)
print(y)

5
3

In [6]:
#Ques. 2
n = int(input())
if (n % 2) == 0:
    print("Number is even")
else:
    print("Number is odd")

-34
Number is even

In [10]:
#Ques. 3
x=int(input())
print(x ** (1/2))

14
3.7416573867739413

In [13]:
#Ques. 4
n=int(input())
for i in range(1,n+1):
    print(i, end = " ")
print()
for i in range(n,0,-1):
    print(i, end = " ")

24
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

In [17]:
# Ques. 5
r=int(input())
print((4/3)*3.14*(r**3))

6
904.3199999999999

In [14]:
#Ques. 6

print("Even numbers are :")
for i in range(1, 100):
    if(i%2 == 0):
        print(i, end = " ")
print()
print("Odd numbers are :")
for i in range(100):
    if(i%2 == 1):
        print(i, end = " ")

Even numbers are :
2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98
Odd numbers are :
1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [29]:
#Ques. 7
import math
import cmath
a=float(input())
b=float(input())
c=float(input())
temp=b**2-(4*a*c)
x_1=((math.sqrt(temp)-b)/(2*a))
x_2=((-math.sqrt(temp)-b)/(2*a))
print(x_1)
print(x_2)

6.1
3.7
0
0.0
-0.6065573770491804

In [7]:
#Ques. 8
x = int(input())
c = 0
while x>0:
    x = x//10
    c = c+1
print(c)

97653
5

In [53]:
# Ques. 9
num = int(input("Enter a number: "))  
  
if num > 1:
    for i in range(2,num):  
        if (num % i) == 0:  
            print("False")  
            break  
    else:  
        print("True")  
         
else:  
    print("False")

Enter a number: 7
True

In [54]:
# Ques. 10
n=int(input())
s = 0
for i in range(1,n+1):
    if i % 3 == 0 or i % 5 == 0:
        s += i
        
print(s)

24
143

In [8]:
#Ques. 11
n = int(input())
ch= input("Enter 1 to compute the sum and 2 to compute the product of numbers from 1 to n: ")
s=0
p=1
if ch == '1':
    for i in range(n+1):
        s += i
    print(s)
elif ch == '2':
    for i in range(1, n+1):
        p *= i
    print(p)
else:
    print("wrong input")

9
Enter 1 to compute the sum and 2 to compute the product of numbers from 1 to n: 2
362880

In [12]:
# Ques. 12
s = 0
for i in range(1000):
    if i % 3 == 0 or i % 5 == 0:
        s += i
        
print(s)

233168

In [55]:
# Ques. 13
for i in range(2000,3201):
    if i % 7 == 0:
        if i % 5 == 0:
            pass
        else:
            print(i, end = " ")

2002 2009 2016 2023 2037 2044 2051 2058 2072 2079 2086 2093 2107 2114 2121 2128 2142 2149 2156 2163 2177 2184 2191 2198 2212 2219 2226 2233 2247 2254 2261 2268 2282 2289 2296 2303 2317 2324 2331 2338 2352 2359 2366 2373 2387 2394 2401 2408 2422 2429 2436 2443 2457 2464 2471 2478 2492 2499 2506 2513 2527 2534 2541 2548 2562 2569 2576 2583 2597 2604 2611 2618 2632 2639 2646 2653 2667 2674 2681 2688 2702 2709 2716 2723 2737 2744 2751 2758 2772 2779 2786 2793 2807 2814 2821 2828 2842 2849 2856 2863 2877 2884 2891 2898 2912 2919 2926 2933 2947 2954 2961 2968 2982 2989 2996 3003 3017 3024 3031 3038 3052 3059 3066 3073 3087 3094 3101 3108 3122 3129 3136 3143 3157 3164 3171 3178 3192 3199

In [19]:
# Ques. 14
sqs=0
s=0
for i in range(1, 101):
    a=i**2
    sqs+=a
    s+=i
    
diff = (s**2) - sqs
print(diff)

25164150

In [16]:
# Ques. 15
s=0
c=0
n=0
while n != 'stop':
    try:
        n=int(input())
        s += n
        c += 1
    except ValueError:
        break
print("Total: {}".format(s))
print("Count: {}".format(c))
try:
    avg=s/c
except ZeroDivisionError:
    avg=0
print("Average: {}".format(avg))

2
345
356
23
53
2
0
0
-1
dfa
Total: 780
Count: 9
Average: 86.66666666666667

In [19]:
# Ques. 16
num=int(input())
for num in range(1,num + 1):
   if num > 1:
        for i in range(2,num):
            if (num % i) == 0:
                break
        else:
            print(num)

24
2
3
5
7
11
13
17
19
23

In [21]:
#Ques. 17
fact = 1
n = int(input())
for i in range(1, n+1):
    fact *= i
print(fact)

5
120

In [58]:
# Ques. 18
num = int(input())
p = 1
n = 0
for i in range(num):
    print(n, end = ' ')
    p, n= n, n+p

9
0 1 1 2 3 5 8 13 21

In [2]:
# Ques. 19
n = int(input())
m = int(input())
for i in range(2, min(n, m)):
    if n % i ==0 and m % i == 0:
        print("LCM of {}, {} is {}".format(n, m, i))
        break
else:
    print("LCM of {}, {} is {}".format(n, m, n*m))

1
10
LCM of 1, 10 is 10

In [6]:
# Ques. 20
n = int(input())
for i in range(1, n+1):
    if n % i == 0:
        print(i, end = ' ')

72
1 2 3 4 6 8 9 12 18 24 36 72

###### Ques. 21

In [2]:
# Part 1st
for i in range(1, 7):
    print("* "*i)

*
* *
* * *
* * * *
* * * * *
* * * * * *

In [59]:
#Part 2
for i in range(7, 0, -1):
    print("* "*i)

* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [12]:
#Part 3
for i in range(1, 7):
    for j in range(i):
        print(i, end = " ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6

In [35]:
#Part 4
n=7
for i in range(1, n):
    print(" " * (n-i-1) + "* " * (i))

     *
    * *
   * * *
  * * * *
 * * * * *
* * * * * *

In [62]:
#Part 5
c=1
for i in range(1, 5):
    for j in range(i):
        print(c, end = " ")
        c += 1
    print()

1
2 3
4 5 6
7 8 9 10

In [40]:
#Part 6
c = 65
for i in range(1, 7):
    for j in range(i):
        print(chr(c), end = " ")
        c += 1
    print()

A
B C
D E F
G H I J
K L M N O
P Q R S T U

In [51]:
#Ques. 22
a = int(input())
s = 0
sum = 0
for i in range(4):
    s = s + ((10 ** i) * a)
    sum += s
print(sum)

9
11106